.container {
    border: thick solid black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.square {
    border: thin solid navy;
    font-family: 'Germania One', cursive;
    color: darkslategrey;
    border-radius: 12px;
    background-color: lightblue;
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    box-sizing: border-box;
}

.button {
    border: thick solid black;
    background-color: salmon;
    margin: 2%;
    padding: 2%;
    border-radius: 13%;
    font-family: 'Germania One', cursive;
}

.hidden {
    display: none;
}
